<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.spring.springboot.dao.master.UserDao">
	<resultMap id="BaseResultMap" type="org.spring.springboot.domain.User">
		<result column="id" property="id" />
		<result column="login_name" property="loginName" />
	</resultMap>

	<!--<parameterMap id="User" type="org.spring.springboot.domain.User"/>-->

	<sql id="Base_Column_List">
		id, login_name
	</sql>

	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from sys_user
		where id = #{id}
	</select>

</mapper>
